{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactionss %}
                <tr>
                    <td>{{ transaction.stock_symbol }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ usd(transaction.price) }}</td>
                    <td>{{ transaction.transaction_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
